{% extends 'base.html' %}

{% block title %} Home {% endblock%}

{% block main %}
    <main class="div3">
        <section>
            <form action="{% url 'createblog'%}" method="post" id="createblog">
                {% csrf_token %}
                <label for="name">Name</label>
                <input type="text" name="name">
                <label for="content">Content</label>
                <textarea name="content"></textarea>
                <input type="submit" value="Post">
            </form>
        </section>

        <section id="allposts">
            <section id="columns">
                <center><h1>Your Feed</h1></center>
                {% for i in allblogs %}
                   <div class="div4">
                       <p>id:{{i.id}}</p>
                       <h1>Name: {{i.name}}</h1>
                       <p>Content: {{i.content}}</p>
                       <p>Author: {{i.author}}</p>
                       <p>Created: {{i.created_at}}</p>
                       <a href="{% url 'addcomment' i.id %}">View</a>
                   </div>
                {% endfor %}
            </section>
        </section>
    </main>
{% endblock %}

{% block register%}
<div class="div1"><a href="{% url 'myblogs' %}">MyPosts</a></div>
<div class="div1"><a href="{% url 'logout'%}">Logout</a></div>
{%  endblock %}