{% extends 'base.html' %}

{% block title %} Details {% endblock%}

{% block main %}
    <main class="div3">
        <section>
                    <h1>Name: {{blog.name}}</h1>
                    <p>Content: {{blog.content}}</p>
                    <p>Author: {{blog.author}}</p>
                    <p>Created: {{blog.created_at}}</p>
                    <p>Your response:{{flag}}</p>
                    <h4>Comment: {{count}}</h4>
                    <h4><a href="{% url 'like' blog.id %}" name="like">Like:</a> {{response1}}</h4>
                    <h4><a href="{% url 'dislike' blog.id %}" name="dislike">Dislike:</a> {{response2}}</h4>
                <center><h1>Comments</h1></center>
                {% for i in comments %}
                   <div>
                       <h3>Name: {{i.user.username}}</h3>
                       <p>Text: {{i.comment_text}}</p>
                   </div>
                {% endfor %}
                <div class="div4">
                   <form action="{% url 'addcomment' blog.id %}" method="post" id="createcomment">
                      {% csrf_token %}
                      <label for="content">Add Comment below :</label>
                      <textarea name="content" required></textarea>
                      <input type="submit" value="Add">
                   </form>
                </div>
        </section>
    </main>
{% endblock %}

{% block register%}
<div class="div1"><a href="{% url 'myblogs' %}">MyPosts</a></div>
<div class="div1"><a href="{% url 'quick_view' %}">Quick View</a></div>
<div class="div1"><a href="{% url 'logout'%}">Logout</a></div>
{%  endblock %}