{% extends 'base.html' %}

{% block main%}
  <section id="allposts">
            <section id="columns">
                <center><h1>Your Blogs</h1></center>
                {% for i in allblogs %}
                   <div class="div4">
                       <p>Name: {{i.name}}</p>
                       <p>Content: {{i.content}}</p>
                       <p>Author: {{i.author}}</p>
                       <p>Created: {{i.created_at}}</p>
                       <a href="{% url 'addcomment' i.id %}">View</a>
                       <p><a href="{% url 'modify_view' i.id %}" name="like">Modify</a></p>
                   </div>
                    {% endfor %}
            </section>
  </section>
{% endblock %}

{% block register%}
<div class="div1"><a href="{% url 'myblogs' %}">MyPosts</a></div>
<form action="{% url 'logout'%}" method="post">
    {% csrf_token %}
    <div>
        <input type="submit" value="logout">
    </div>
</form>
{%  endblock %}