{% extends 'myblogs.html' %}


{% block main %}

<main class="div3">
    <section class="div2">
        <h3>Quick Links</h3>
        <a href="{% url 'quick_view'%}" class="div1">Top 5 Commented Blogs</a>
        <a href="{% url 'liked'%}" class="div1">Top 5 Liked in Last 3 Days</a>
        <a href="{% url 'disliked'%}" class="div1">Top 5 Disliked in Last 3 Days</a>
        <a href="{% url 'unmodified'%}" class="div1">Unmodified Blogs</a>
        <a href="{% url 'allcomments'%}" class="div1">Blogs You Have Commented</a>
    </section>

    <section class="div4">
        <h1>Your Unmodified Blogs</h1>
        {% if not unmodified %}
           <p>Nothing To Show</p>
        {% endif %}
        {% for i in unmodified %}
        <section class="div5">
           <h3>Name: {{i.name}}</h3>
           <p>Content: {{i.content}}</p>
           <p>Author: {{i.author}}</p>
           <p>Created: {{i.created_at}}</p>
        </section>
        {% endfor %}
    </section>
</main>

{% endblock %}