body{
   background-color : rgb(100,150,250);
}

nav {
   background-color : lightgreen;
   display : flex;
   flex-direction: row;
   flex-wrap : wrap;
}

.div1 {
   margin: 5px;
}

.div3 {
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 justify-content : center;
 align-items: center;
 margin: 5px;
}

#createblog {
  display: flex;
  width: 250px;
  justify-content: space-between;
  flex-direction : column;
  height: 200px;
  align-content : center;
}

#createcomment {
  display: flex;
  width: 250px;
  justify-content: space-between;
  flex-direction : column;
  height: 200px;
  align-content : center;
}

textarea {
   resize: none;
   height: 100px;
   width: 250px;
}
#allposts {
  display: flex;
  justify-content: center;
  flex-direction : row;
}


.div4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction : column;
  margin-bottom: 20px;
  padding : 2px;
}

#commentsec {
  display : none;
  border: 0;

}

center {
   color: Yellow;
}