* {
   box-sizing : border-box;
   margin: 0;
   padding: 4px;
}
body {
   background-color: #E8E8E8;
   padding: 0;
   margin: 0;
}

nav {
   background-color : lightgreen;
   display : flex;
   flex-direction: row;
   flex-wrap : wrap;
   position: sticky;
   margin : 0;
   padding :0;
   top : 0;
}

a {
   text-decoration: none;
}

section > a {
     display: block;
     padding: 5px 0;
     margin: 0px;
 }


section > div > a.div1:hover{
  background-color : lightgreen;
}

nav > div > a {
  padding : 10px;
  color : white;
}

nav> div > a:hover {
   background-color: #787878;
}


.div1 {
   margin: 5px;
}

.div2 {
   width: 20%;
   background-color: #C0C0C0;
   height: 100vh;
}

.div3 {
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;

}

.div4 {
  display: flex;
  align-items: center;
  flex-direction : column;
  margin-bottom: 20px;
  padding : 2px;
  width: 50%;
}

.div5 {
    display: block;
    background-color : 	#C0C0C0;
    padding : 10px;
    margin: 5px;
    border-radius: 10px;
    width : 50% ;
    word-wrap: break-word;
    border: 2px solid black;
}

.div6 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  margin: 5px;
}


#createblog {
  display: flex;
  width: 250px;
  justify-content: space-between;
  flex-direction : column;
  height: 200px;
  align-content : center;
}

#createcomment {
  display: flex;
  width: 250px;
  justify-content: space-between;
  flex-direction : column;
  height: 200px;
  align-content : center;
}

textarea {
   resize: none;
   height: 100px;
   width: 250px;
}

center {
   margin: 10px;
}

.div7 {
  border : 1px solid black;
  border-radius: 4px;
  margin-bottom : 5px;
  width : 240px;
}